$color-text-black: black;
$color-text-white: white;
$color-text-red: red;
$color-text-gray: gray;
$color-text-dark-gray: #404752;

$color-bg-white: white;
$color-bg-light-aqua: #56dfdc;
$color-bg-blue-violet: #4d44b5;

$color-border-slate-gray: #cdcdcd;

$color-box-shadow-loginBtn: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$color-box-shadow-login: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$color-box-shadow-input-focus: inset rgba(0, 0, 0, 0.16) 0px 1px 4px;
