// @font-face {
//   font-family: Helvetica;
//   src: url("~../assets/fonts/Helvetica.ttf") format("ttf");
// }

// SF Pro Display font CDN Link
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.cdnfonts.com/css/monaco');

$fontset-normal: 'SF Pro Display', sans-serif; // for english
$fontset-monaco: 'Monaco', Menlo, 'Ubuntu Mono', Consolas, source-code-pro monospace, sans-serif;
// Font weight
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// Font Size
$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-28: 28px;
$font-36: 36px;
